{% extends 'layouts/frontend_web.html' %}
{% load i18n static staticfiles %}

{% block title %}{{ project.title }}{% endblock %}

{% block meta %}
  {% include 'snippets/meta_tags.html' with url=absolute_url title=project.title description=project.excerpt photo=thumbnail_url %}
{% endblock %}

{% block content %}
<div class="row" id="profile">
  <div class="col-md-12">
    <div class="blog-post">
      <h2 class="blog-post-title">{{ project.title }}</h2>
      <p class="blog-post-meta">{{ project.created }} - <strong>{{ project.author }}</strong></p>
      <blockquote>
        {{ project.excerpt }}
      </blockquote>
      <p>
        {{ project.content|safe }}
      </p>
    </div>
  </div><!-- /.blog-main -->
  <a href="{% url 'projects' %}" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i>&nbsp;{% trans 'Regresar' %}
  </a>
</div>
{% endblock %}
